body {
  background: #1B213B;
  color: #777;
  font-family: Montserrat, Arial, sans-serif;
}

.body-bg {
  background: #F3F4FA !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: #ffffff;
  /* font-family: Montserrat, Arial, sans-serif; */
  font-weight: 600;
}

.box .apexcharts-xaxistooltip {
  background: #1B213B;
  color: #fff;
}

.content-area {
  width: 90%;
  margin: 0 auto;
  padding: 0px;
  box-sizing: border-box;
}

.box {
  background-color: #262D47;
  padding: 25px 25px;
}

.details h3 {
  margin: 0;
  font-size: 42px;
  color: white;
  font-weight: bold;
}

.details2 h3 {
  margin: 0;
  font-size: 22px;
  display: flex;
  align-items: center;
  color: white;
  font-weight: bold;
}

.details h4 {
  margin: 0;
  font-size: 22px;
  color: white;
}

.details h5 {
  margin: 0;
  font-size: 12px;
  color: white;
}

.details2 h5 {
  display: flex;
  align-items: center;
  font-size: 10px;
  color: white;
}

.details h6 {
  font-size: 20px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.details2 h6 {
  font-size: 36px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

legend {
  color: #ffffff;
  font-family: Montserrat, Arial, sans-serif;
}

.shadow {
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
}

.sparkboxes .box {
  padding-top: 10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 1px 1px #666;
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.08);
  position: relative;
  border-radius: 5px;
  min-height: 50px;
}

.sparkboxes .box .details {
  position: absolute;
  color: #fff;
  transform: scale(0.7) translate(-22px, 20px);
}

.sparkboxes strong {
  position: relative;
  z-index: 3;
  top: -8px;
  color: #fff;
}

.box1 {
  margin: 0px 12px 0px 12px;
  min-height: 120px;
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #0098df;
}

.box11 {
  min-height: 60px;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  background-color: #2284b2;
}

.box12 {
  min-height: 60px;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 10px;
  background-color: #036fa1;
}

.box2 {
  margin: 0px 12px 0px 12px;
  min-height: 120px;
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ca00d1;
}

.box21 {
  min-height: 60px;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  background-color: #ad22b2;
}

.box22 {
  min-height: 60px;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 10px;
  background-color: #81028d;
}

.box3 {
  margin: 0px 12px 0px 12px;
  min-height: 120px;
  padding: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #00df56e8;
}

.box31 {
  min-height: 60px;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  background-color: #22b246;
}

.box32 {
  min-height: 60px;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 10px;
  background-color: #028d25;
}

.box4 {
  min-height: 120px;
  padding: 10px 0px 0px 0px;
  border-top-left-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #df2800;
}

.box41 {
  min-height: 120px;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b22222;
}

.box42 {
  min-height: 120px;
  padding: 10px 0px 0px 0px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8d021f;
}

.box51 {
  min-height: 60px;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-left-radius: 10px;
  background-color: #df2900be;
}

.box52 {
  min-height: 60px;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #df2900e1;
}

.box53 {
  min-height: 60px;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b22222c5;
}

.box54 {
  min-height: 60px;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #b22222de;
}

.box55 {
  min-height: 60px;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #8d0220c0;
}

.box56 {
  min-height: 60px;
  padding: 10px 0px 0px 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom-right-radius: 10px;
  background-color: #8d0220de;
}

.columnbox {
  padding-right: 15px;
}

.radialbox {
  max-height: 333px;
  margin-bottom: 60px;
}

.tablebox {
  margin-bottom: 60px;
  height: auto;
  overflow: visible;
}

.apexcharts-legend-series tspan:nth-child(3) {
  font-weight: bold;
  font-size: 20px;
}

.edit-on-codepen {
  text-align: right;
  width: 100%;
  padding: 0 20px 40px;
  position: relative;
  top: -30px;
  cursor: pointer;
}

.spinner-border {
  display: none;
}

#overlay {
  background: #ffffff;
  color: #666666;
  position: fixed;
  height: 100%;
  width: 100%;
  z-index: 5000;
  top: 0;
  left: 0;
  float: left;
  text-align: center;
  padding-top: 25%;
  opacity: .80;
}

.spinner {
  margin: 0 auto;
  height: 64px;
  width: 64px;
  animation: rotate 0.8s infinite linear;
  border: 5px solid firebrick;
  border-right-color: transparent;
  border-radius: 50%;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.data-tables {
  max-height: 400px;
  /* Mengatur maksimal tinggi */
  overflow-y: auto;
  /* Membuat scroll vertikal */
  background-color: #1B213B;
  color: #777;
  font-family: Montserrat, Arial, sans-serif;
}

table.dataTable {
  background-color: #1B213B;
  border-color: #262D47;
}

/* Header untuk tabel P2APST (dataTableSatu) */
#dataTableSatu thead th {
  background-color: #036FA1;
  /* Warna biru untuk P2APST */
  color: #fff;
  /* Warna teks putih */
  border-color: #1B213B;
  border-top: 1px solid #1B213B;
}

/* Header untuk tabel CARGO (dataTableDua) */
#dataTableDua thead th {
  background-color: #ad22b2;
  /* Warna ungu untuk CARGO */
  color: #fff;
  /* Warna teks putih */
  border-color: #1B213B;
  border-top: 1px solid #1B213B;
}

/* Header untuk tabel AP2T (dataTableTiga) */
#dataTableTiga thead th {
  background-color: #028d25;
  /* Warna hijau untuk AP2T */
  color: #fff;
  /* Warna teks putih */
  border-color: #1B213B;
  border-top: 1px solid #1B213B;
}

table.dataTable tbody td {
  background-color: #1B213B;
  color: #fff;
}

table.dataTable thead tr {
  border-bottom: 1px solid #262D47;
}

#runningText {
  font-weight: bold;
  font-size: 16px;
  color: #fff;
  background-color: #262D47;
  /* Bisa diubah sesuai warna yang diinginkan */
  padding: 10px;
  border-radius: 5px;
}

.navbar {
  background-color: #262D47 !important;
  font-size: larger;
}

.nav-link.active {
  background-color: #1B213B !important;
  color: #ffffff !important;
  font-weight: bold;
  border-radius: 5px;
  margin: 0 2rem 0 2rem;
}

#container-nav {
  background-color: #262D47 !important;
}

#container-base {
  padding: 0px;
}